let mapleader=" "

""" Plugins  --------------------------------
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/argtextobj.vim'
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'kana/vim-textobj-entire'
Plug 'machakann/vim-highlightedyank'

set sneak
set quickscope

let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu
set relativenumber
set ignorecase
set smartcase
set wrapscan
set hlsearch
set clipboard+=unnamedplus
""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
""" My Mappings -----------------------------
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Shift + 矢印でウィンドウサイズを変更
nnoremap <S-Left>  <C-w><<CR>
nnoremap <S-Right> <C-w>><CR>
nnoremap <S-Up>    <C-w>-<CR>
nnoremap <S-Down>  <C-w>+<CR>

imap jk <Esc>
nmap <leader>e :NERDTreeFocus<CR>
nmap <leader>o :NERDTreeClose<CR>

nmap <ESC><ESC> :nohl<CR>

map <leader>r <Action>(ReformatCode)
map <leader>lr <Action>(RenameElement)
map <leader>la <Action>(ShowIntentionActions)
map <leader>a <Action>(Annotate)

map <leader>p <Action>(FileStructurePopup)

map <leader>J Ji <ESC>

map <C-p> <Action>(GotoFile)

nmap <leader>u <Action>(GotoClass)
nmap <leader>s <Action>(GotoSymbol)

nmap <leader>c <Action>(CloseContent)
nmap <leader>bc <Action>(CloseAllEditorsButActive)
nmap <leader>w <Action>(RecentFiles)

nmap ¥ <Action>(SplitVertically)
nmap - <Action>(SplitHorizontally)
nmap [b <Action>(PreviousTab)
nmap ]b <Action>(NextTab)
nmap [c <Action>(VcsShowPrevChangeMarker)
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)
nmap gr <Action>(GotoDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gG <Action>(Generate)
nmap K <Action>(ShowHoverInfo)

