# This file is an example of how to define variables for a Nix configuration.
# Edit this file to set your own variables.
{
  catppuccinFlavor = "mocha"; # Options: latte, frappe, macchiato, mocha

  username = "user";
  homeDirectory = "/Users/user";
  system = "aarch64-darwin";
  
  # ref: https://nix-community.github.io/home-manager/options.xhtml#opt-programs.git.includes
  gitIncludes = [
  
  ];

  askAI = "gemini"; # Options: gemini, claude

  # Optional: Set your RustyPaste server URL if you use RustyPaste.
  rustypasteServer = "https://rpt.example.com";
}
