# This file is an example of how to define variables for a Nix configuration.
# Edit this file to set your own variables.
{
  username = "user";
  system = "x86_64-linux";
  
  # ref: https://nix-community.github.io/home-manager/options.xhtml#opt-programs.git.includes
  gitIncludes = [
  
  ];

  bigMonitor = false;

  # Optional: Set your RustyPaste server URL if you use RustyPaste.
  rustypasteServer = "https://rpt.example.com";
}
