// Firefox/Brave picture-in-picture player should float.
window-rule {
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  match app-id=r#"brave$"# title="^Picture-in-Picture$"
  open-floating true
}

window-rule {
  match app-id="org.wezfurlong.wezterm"

  background-effect {
    xray true
    blur true
    noise 0.05
    saturation 3
  }
}

window-rule {
  match is-floating=true

  border {
    on
  }
}

// Steam games (app-id is steam_app_<appid>) drive VRR on outputs with
// variable-refresh-rate on-demand=true.
window-rule {
  match app-id=r#"^steam_app_"#
  match app-id="gamescope"
  variable-refresh-rate true
}
