environment {
  ELECTRON_OZONE_PLATFORM_HINT "auto"
}

gestures {
  hot-corners {
    off
  }
}

input {
  mod-key "Super"

  keyboard {
    repeat-delay 200
    repeat-rate 30
    xkb {
    }
  }

  touchpad {
    tap
    natural-scroll
  }

  mouse {
    middle-emulation
  }
}

cursor {
  xcursor-size 24
  xcursor-theme "catppuccin-macchiato-sapphire-cursors"
  hide-when-typing
  hide-after-inactive-ms 10000
}

// Run `niri msg outputs` to list all outputs and their modes.
output "DP-3" {
  mode "1920x1080@164.917"
  scale 1
  transform "normal"
  position x=0 y=0
}

layout {
  gaps 0
  struts {
    left 0
    right 0
    top 0
    bottom 0
  }

  center-focused-column "never"

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 1.0
  }

  preset-window-heights {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 1.0
  }

  default-column-width {
    proportion 0.5
  }

  focus-ring {
    off
  }

  border {
    off
  }

  shadow {
    off
  }
}

spawn-at-startup "easyeffects" "--service-mode" "-q"
spawn-at-startup "noctalia"

hotkey-overlay {
  skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot-from-%Y-%m-%d-%H-%M-%S.png";

// Firefox/Brave picture-in-picture player should float.
window-rule {
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  match app-id=r#"brave$"# title="^Picture-in-Picture$"
  open-floating true
}

window-rule {
  match app-id="org.wezfurlong.wezterm"

  background-effect {
    xray true
    blur true
    noise 0.05
    saturation 3
  }
}

window-rule {
  match is-floating=true

  border {
    on
  }
}

binds {
  Alt+Shift+Slash { show-hotkey-overlay; }

  Alt+Slash { spawn "wezterm"; }

  Alt+S { spawn "noctalia" "msg" "panel-toggle" "control-center"; }
  Alt+Space hotkey-overlay-title="Launcher" { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
  Super+Alt+L hotkey-overlay-title="SessionMenu" { spawn "noctalia" "msg" "panel-toggle" "session"; }
  Super+L { spawn "noctalia" "msg" "session" "lock"; }

  Alt+Shift+C { spawn "noctalia" "msg" "panel-toggle" "clipboard"; }
  Alt+P { spawn "noctalia" "msg" "panel-toggle" "control-center" "calendar"; }
  Alt+N { spawn "noctalia" "msg" "panel-toggle" "control-center" "notifications"; }
  Alt+M { spawn "noctalia" "msg" "mic-mute"; }
  Alt+E { spawn "noctalia" "msg" "panel-toggle" "control-center" "audio"; }
  Alt+B { spawn "noctalia" "msg" "panel-toggle" "control-center" "bluetooth"; }

  XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

  XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

  Alt+O repeat=false { toggle-overview; }
  Alt+Q repeat=false { close-window; }

  Alt+H     { focus-column-left; }
  Alt+J     { focus-window-down; }
  Alt+K     { focus-window-up; }
  Alt+L     { focus-column-right; }

  Alt+Ctrl+H     { move-column-left; }
  Alt+Ctrl+J     { move-window-down; }
  Alt+Ctrl+K     { move-window-up; }
  Alt+Ctrl+L     { move-column-right; }

  Alt+Shift+H     { focus-monitor-left; }
  Alt+Shift+J     { focus-monitor-down; }
  Alt+Shift+K     { focus-monitor-up; }
  Alt+Shift+L     { focus-monitor-right; }

  Alt+Shift+Ctrl+H     { move-column-to-monitor-left; }
  Alt+Shift+Ctrl+J     { move-column-to-monitor-down; }
  Alt+Shift+Ctrl+K     { move-column-to-monitor-up; }
  Alt+Shift+Ctrl+L     { move-column-to-monitor-right; }

  Alt+U              { focus-workspace-down; }
  Alt+I              { focus-workspace-up; }
  Alt+Ctrl+U         { move-column-to-workspace-down; }
  Alt+Ctrl+I         { move-column-to-workspace-up; }
  Alt+Shift+U        { move-workspace-down; }
  Alt+Shift+I        { move-workspace-up; }

  Alt+BracketLeft  { consume-or-expel-window-left; }
  Alt+BracketRight { consume-or-expel-window-right; }

  Alt+Comma  { consume-window-into-column; }
  Alt+Period { expel-window-from-column; }

  Alt+R { switch-preset-column-width; }
  Alt+Shift+R { switch-preset-window-height; }
  Alt+Ctrl+R { reset-window-height; }
  Alt+F { maximize-column; }
  Alt+Shift+F { fullscreen-window; }
  Alt+Ctrl+F { maximize-window-to-edges; }

  Alt+C { center-column; }

  Alt+Ctrl+C { center-visible-columns; }

  Alt+Minus { set-column-width "-10%"; }
  Alt+Equal { set-column-width "+10%"; }

  Alt+Shift+Minus { set-window-height "-10%"; }
  Alt+Shift+Equal { set-window-height "+10%"; }

  Alt+V       { toggle-window-floating; }
  Alt+Shift+V { switch-focus-between-floating-and-tiling; }

  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }

  Alt+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  Alt+Shift+P { power-off-monitors; }
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}
